<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Confirmation Page</title>
  <link rel="stylesheet"
        th:href="@{/css/customer-confirmation.css}">
</head>
<body>
<div class="confirmation-container">
  <h2>Confirmation</h2>

  <table>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>First Name</td>
      <td th:text="${customer.firstName}"></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td th:text="${customer.lastName}"></td>
    </tr>
    <tr>
      <td>Free Passes</td>
      <td th:text="${customer.freePasses}"></td>
    </tr>
    <tr>
      <td>Postal Code</td>
      <td th:text="${customer.postalCode}"></td>
    </tr>
  </table>

  <button class="back-button" onclick="history.back()">Go Back</button>
</div>
</body>
</html>
