<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login Page</title>
  <link rel="stylesheet"
        th:href="@{/css/customer-form.css}">

</head>
<body>
<div class="login-container">
  <h2>Login</h2>

  <form th:object="${customer}" th:action="@{/login}" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}" />

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" />
    <p class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

    <label for="freePasses">Free Passes:</label>
    <input type="number" id="freePasses" th:field="*{freePasses}" />
    <p class="error-message" th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}"></p>

    <label for="postalCode">Postal Code:</label>
    <input type="text" id="postalCode" th:field="*{postalCode}" />
    <p class="error-message" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></p>

    <button type="submit">Login</button>
  </form>
</div>
</body>
</html>
